<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29797062020-dlkgq3201i044odllp1nj3582fb44b4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29797062020-dlkgq3201i044odllp1nj3582fb44b4v</string>
	<key>API_KEY</key>
	<string>AIzaSyB3ypD24Jdy7A1PB2sPCruIHt9CWmesE_I</string>
	<key>GCM_SENDER_ID</key>
	<string>29797062020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luisadrianpineda.tetsugym</string>
	<key>PROJECT_ID</key>
	<string>tetsugym</string>
	<key>STORAGE_BUCKET</key>
	<string>tetsugym.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29797062020:ios:b7a49bdc734c669847b9d1</string>
</dict>
</plist>